/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
			========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* for all */
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "pt-serif" sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1360px;
  width: 80.1%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* desktop version starts */
a {
  color: black;
}

/* nav bar */
header nav {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

/* for blow */
nav h1 {
  font-size: 5rem;
  font-weight: 600;
}
/* for anchor tag */
h1 a {
  color: black;
}

.ltd {
  font-size: 2rem;
}

.ltd {
  display: inline-flex;
  align-items: baseline;
}

.dot {
  position: relative;
  display: inline-block;
}

.dot::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust distance below the 'T' */
  left: 50%;
  transform: translateX(-50%);
  width: 4px; /* Size of the dot */
  height: 4px; /* Size of the dot */
  background-color: black; /* Dot color */
  border-radius: 50%; /* Makes it a circle */
}
.booking {
  display: flex;
  align-items: center;
}
.book1 {
  background-color: #f58561;
  color: white;
  font-family: sans-serif;
  padding: 25px;
  border: none;
  font-size: 1.2rem;
}

/* banner section starts */

.banner {
  background-image: url("https://images.pexels.com/photos/890550/pexels-photo-890550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 170px 5%;
}

.banner_element {
  text-align: center;
  background-color: white;
  width: 45%;
  padding: 35px 1% 35px 1%;
}

.banner_element h2 {
  font-family: "EB Garamond";
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 500;
}
.banner_element p {
  font-family: sans-serif;
  font-weight: 600;
  line-height: 2rem;
}

.book {
  background-color: #f58561;
  padding: 20px 5%;
  font-family: sans-serif;
  color: white;
  margin-top: 50px;
  font-weight: 600;
}

.google10 {
  color: #f58561;
}
